.bgcx{
    background: rgb(169,204,210);
    background: linear-gradient(145deg, rgba(169,204,210,1) 0%, rgba(131,138,227,1) 100%);
    height: fit-content;
    padding: 45px 80px 45px 80px;
    margin: 45px 30px 45px 30px;
    border-radius: 120px;
}